@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('.././gilroy-fonts/stylesheet.css');

* {
  font-family: Gilroy;
  color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0c0c0d;
  scroll-behavior: smooth !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c0c0d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7d7d82;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #97979b;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-wider;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }
  p {
    @apply tracking-wider text-muted;
  }
}

@layer components {
  .center-item {
    @apply flex items-center justify-center;
  }
  .full {
    @apply h-full w-full;
  }
}
